.container_bar {
	display: inline-block;
}
.nav_fixed button {
	-webkit-appearance: none;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
}

.principal_nav {
	width: min(100vw, 350px);
	height: 100%;
	display: grid;
	grid-template-rows: 36px 1fr;
	position: fixed;
	top: 0;
	right: 0;
	background: var(--secondaryColorAlpha);
	backdrop-filter: blur(10px);
	z-index: 30;
	transition: translate 0.3s ease;
	translate: 100vw;
}
.principal_nav a {
	color: #fff;
}
.nav_fixed {
	width: 100%;
	height: 64px;
	display: flex;
	justify-content: space-between;
	background: var(--principalColorAlpha);
	padding: 1rem;
	position: fixed;
	z-index: 20;
	box-shadow: 0 0 50px 0 var(--principalColorAlpha);
	backdrop-filter: blur(3px);
	transition: transform 1s ease;
	transform: translateY(-64.33px);
}

.principal_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4em;
}

.tag_title {
	margin: 0 0.4rem;
	font-weight: bold;
	font-size: clamp(1.2rem, 4vw, 1.5rem);
}

/* responsive aside */

.container_bar {
	text-align: right;
	font-size: clamp(1rem, 4vw, 1.7rem);
}
.bar {
	font-size: clamp(1rem, 4vw, 1.3rem);
}

.nav_fixed_ul {
	display: flex;
	flex-direction: column;
	align-self: center;
	padding: 0;
	margin: 0;
	font-size: 1.4em;
	user-select: none;
}
.nav_fixed_li a {
	width: 100%;
	display: inline-block;
	padding: 20px;
	transition: all 0.2s steps(60);
	border-radius: 5px;
}
.nav_fixed_li a:hover {
	background-color: #fff3;
}

.x {
	width: fit-content;
	height: fit-content;
	margin: 20px;
}
.x svg {
	transform: scale(1.5);
}

.container_bar {
	display: grid;
	place-content: center;
}

.bg_dark {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	display: none;
	opacity: 0;
	pointer-events: none;
}
.hiddenRight {
	opacity: 0;
	transform: translateX(100%);
	filter: blur(5px);
	/* transition: opacity 1s var(--motion), 1s var(--motion),
		transform 1s var(--motion); */
}
.showRight {
	opacity: 1;
	transform: translateX(0);
	filter: blur(0);
	/* transition: all 1s; */
	transition: opacity 0.4s, filter 0.9s, transform 0.4s;
}

@keyframes show {
	0%,
	100% {
		opacity: 1;
	}
}
@keyframes unShow {
	0%,
	100% {
		opacity: 0;
	}
}
.nav_fixed_ul li:first-child {
	transition-delay: 100ms;
}
.nav_fixed_ul li:nth-child(2) {
	transition-delay: 250ms;
}
.nav_fixed_ul li:last-child {
	transition-delay: 400ms;
}
