.lang_list,
.tool_list,
.other_list {
	display: flex;
	place-content: center;
	align-items: center;
}
.lang_list li,
.tool_list li,
.other_list li {
	margin: 0 1em;
}
.lang_list i,
.tool_list i,
.other_list i {
	font-size: 4.25rem;
}
.tag_title_list {
	font-weight: 900;
}
p {
	max-width: 750px;
	font-size: 1.2em;
}
section {
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* Article */

/* Scroll Bar */

body.scroll::-webkit-scrollbar {
	display: none;
}
body::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
body::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
	background-color: #999;
}
body::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 10px;
}
/* Sections */
section:nth-child(1) {
	height: 100vh;
	background-image: url(https://img.freepik.com/foto-gratis/diseno-concepto-plantilla-diseno-web-html_53876-120438.jpg?w=900&t=st=1660676885~exp=1660677485~hmac=2899e1383827e6af6608d048fbba3d6958763202894ec02e3e5bb4d598f6e3b5);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	mix-blend-mode: screen;
	display: grid;
	place-content: center;
	color: #000;
}

section:nth-child(even):not(:first-child) {
	background: var(--secondaryColor);
}

section > h1 {
	margin: 0;
	padding: 16px 30px;
}
.hidden {
	opacity: 0;
	transform: translateX(-100%);
	filter: blur(5px);
	transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.show {
	opacity: 1;
	transform: translateX(0);
	filter: blur(0);
	transition: all 1s;
}

.lang_list li:nth-child(1) {
	transition-delay: 200ms;
}
.lang_list li:nth-child(2) {
	transition-delay: 400ms;
}
.lang_list li:nth-child(3) {
	transition-delay: 600ms;
}
.lang_list li:nth-child(4) {
	transition-delay: 800ms;
}

.tool_list li:nth-child(1) {
	transition-delay: 200ms;
}
.tool_list li:nth-child(2) {
	transition-delay: 400ms;
}
.tool_list li:nth-child(3) {
	transition-delay: 600ms;
}

.other_list li:nth-child(1) {
	transition-delay: 400ms;
}

.lang_list svg, .tool_list svg, .other_list svg {
	width: 4.25rem;
	height: 4.25rem;
}
@media (prefers-reduced-motion) {
	.hidden {
		transition: none;
	}
}
