.articlePage {
  width: 100%;
}

.filterMainSection {
  display: grid;
  mix-blend-mode: difference;
  place-content: center;
  pointer-events: none;
  color: var(--light);
  border-radius: 40px;
}

.lang_list,
.tool_list,
.other_list,
.developing_list {
  display: flex;
  place-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(1px, 3vw, 29px);
}

.bgFixed {
  width: 100%;
  height: 100vh;
  height: 100svh;
  position: fixed;
  z-index: -1;
  background-color: var(--principalColor);
  mix-blend-mode: screen;
  object-fit: cover;
  inset: 0;
}

.titleH1 {
  padding: 1.2rem 2rem;
  margin: 0;
  font-size: clamp(1.7rem, 6vw, 2.8rem);
  text-wrap: balance;
  border: clamp(4px, 1vw, 9px) solid var(--light);
  border-radius: 50px;
}

.sectionCareer {
  margin: 0;
  font-size: clamp(1.5rem, 5.3vw, 2.2rem);
}

:is(.lang_list, .tool_list, .other_list, .developing_list) li {
  display: grid;
  position: relative;
  z-index: 5;
}

:is(.lang_list, .tool_list, .other_list, .developing_list) svg {
  width: clamp(1.5rem, 12vw, 5rem);
  height: clamp(1.5rem, 12vw, 5rem);
}

.wave {
  bottom: 0;
  left: 0;
}

.wave,
.wave2,
.wave4,
.wave5 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: clamp(100px, 20vw, 100px);
}

.wave,
.wave3,
.wave4 :is(.shapeFill) {
  fill: var(--secondaryColor);
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: clamp(100px, 20vw, 120px);
  background-color: var(--principalColor);
}

.wave2 .shapeFill {
  fill: var(--principalColorDark);
}

.wave3 {
  width: 100%;
  overflow: clip;
  line-height: 0;
}

.wave3 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.wave4 {
  position: absolute;
  bottom: 0;
}

.wave4 svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 120px;
  transform: rotateY(180deg);
}

.wave5 {
  overflow: hidden;
}

.wave5 svg {
  display: block;
  width: calc(113% + 1.3px);
  height: clamp(100px, 20vw, 100px);
  transform: rotateY(180deg);
}

.wave5 .shapeFill {
  fill: var(--principalColor);
}

.container {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 85px;
  left: 0;
  right: 0;
  margin: auto;
}

.text {
  display: block;
  margin-top: 60px;
  margin-left: -30px;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
}

:is(.developingContainer, .knowledgeContainer) li {
  background-color: #0003;
  border: clamp(0.3px, 1vw, 6px) solid var(--secondaryColor);
  border-radius: 7px;
  padding: clamp(10px, 2.3vw, 16px);
}
.knowledgeContainer {
  container-type: inline-size;
  width: 100%;
}

.paragraphWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.textSpanIcons span {
  opacity: 1;
  filter: blur(0);
}
@container ( inline-size <= 919px ) {
  .lang_list {
    max-width: 650px;
  }
}
