.footer_final {
	background: var(--principalColorDark);
	width: 100%;
	height: fit-content;
	padding: 30px;
}
.footer_final .ul_footer,
.ul_footer li {
	margin: 0;
}
.ul_footer a {
	color: #ddd;
	font-size: clamp(2rem, 10vw, 3.3rem);
	margin-inline: 5px;
}

.ul_footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 10px;
	font-size: 2em;
}

.footer_final h2 {
	color: var(--secondaryColor);
}
