a.anchorCard {
  /* width: clamp(min(calc(100vw - 10px), 330px), 10vw, 350px); */
  text-decoration: none;
  color: #000;
  display: grid;
  grid-template-rows: 300px 1fr;
  border: 7px solid #dedcdc;
  border-radius: 20px;
  overflow: clip;
}

.wrapper {
  max-width: 1500px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
  gap: 2rem;
}

.card_wrapper {
  height: auto;
  background: #fff4;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(2, max-content);
  padding-bottom: 1rem;
}

.image_wrapper {
  position: relative;
}
.project_summary {
  padding-block: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 1rem;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.project_title {
  padding-block: 1rem;
  margin-bottom: 0;
  color: var(--principalColor);
  font-size: clamp(1.4rem, 3vw, 2rem);
}

.created_date {
  margin: 0;
  font-size: 1rem;
  color: #8a8ea0;
  justify-self: end;
  margin-inline: 20px;
}

.project_desc {
  margin: 0;
  font-size: 1.2rem;
  text-wrap: balance;
}
.project_desc strong {
  color: #40f;
}

a.anchorCard > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
