.text {
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: #0005;
  padding: .5rem;
  color: #efefef;
  font-weight: 700;
  font-size: clamp(0.5rem, 1.3vw, 1rem);
  border-radius: 9999px;
  inset: 0;
  margin: auto;
  pointer-events: none;
  z-index: 5;
}
