@import 'victormono';

* {
	cursor: none !important;
}

html {
	all: initial;
	background: var(--principalColor);
	user-select: none;
	line-height: 1.15;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	/* overflow-y: hidden; */
	/* scrollbar-gutter: stable; */
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-margin-top: 100px;
	height: 100%;
	overflow-y: hidden;
}
:root {
	--principalColor: #495c83;
	--principalColorDark: #0b1a38;
	--secondaryColor: #7a86b6;
	--principalColorAlpha: #495c83aa;
	--secondaryColorAlpha: #7a86b6aa;
	--sans: 'Inter', sans-serif, -apple-system, ui-sans-serif, system-ui,
		blinkmacsystemfont, sego ui, roboto, helvetica neue, arial, noto sans,
		sans-serif, monospace;
	--transition-left: left 0.2s ease-in-out;
	--transition-width: width 0.2s ease-in-out;
	--transition-prop-formui: border-color, background, color, transform,
		box-shadow;
	--radius1: 6px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 1rem;
}
:target {
	scroll-margin-top: 64px;
}

h2:not(section:first-child h2, footer h2) {
	text-decoration: underline;
	color: var(--principalColorDark);
	padding: 0;
	padding-block: 14px;
}
body {
	width: 100%;
	font-family: 'Victor Mono', sans-serif;
	color: aliceblue;
	font-size: 17px;
	text-align: center;
}
main {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	scrollbar-gutter: stable;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
}
h1 {
	text-align: center;
	font-size: clamp(1.4rem, 4vw, 1.8rem);
}
h2 {
	font-size: clamp(1.1rem, 2.5vw, 1.8rem);
}
h4 {
	font-size: clamp(0.95rem, 2vw, 1.4rem);
}
ul {
	padding: 0;
}
li {
	list-style: none;
}

nav a:visited {
	color: #fff;
}
a {
	text-decoration: none;
}

h1 {
	border: clamp(2px, 0.4vw, 2.9px) solid var(--principalColorAlpha);
	border-radius: clamp(10px, 3vw, 30px);
}

.hidden {
	opacity: 0;
	transform: translateX(-100%);
	filter: blur(5px);
}
.show {
	opacity: 1;
	transform: translateX(0);
	filter: blur(0);
	transition: transform 1s, filter 0.5s, opacity 1s, scale 0.3s, box-shadow 0.3s;
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes unShow {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}

.fa-solid:not(footer i.fa-solid) {
	font-size: clamp(1rem, 4vw, 1.3rem);
}
/* Articles styles */

section p.p {
	width: clamp(min(400px, 70vw), 70vw, 70vw);
	font-size: clamp(1rem, 3vw, 1.3rem);
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* Article */

/* Scroll Bar */

/* Sections */
section:nth-child(1) {
	display: grid;
	place-content: center;
	width: 100%;
	height: 100vh;
	height: 100svh;
	color: var(--principalColor);
	position: relative;
}

section:nth-child(even):not(:first-child) {
	background: var(--secondaryColor);
}
section:nth-child(odd):not(:first-child) {
	background: var(--principalColor);
}

section > h1 {
	margin: 0;
	padding: 16px 30px;
}
.marginContainer {
	margin-block: 20px;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: min(1vw, 40px);
}

:is(button, a, svg) > * {
	pointer-events: none;
}
