@import 'victormono';
html {
	scroll-behavior: smooth;
}

:root {
	--principalColor: #495c83;
	--principalColorDark: #0b1a38;
	--secondaryColor: #7a86b6;
	--principalColorAlpha: #495c83aa;
	--secondaryColorAlpha: #7a86b6aa;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 1rem;
}
h2:not(h2:last-child) {
	/* color: var(--principalColorDark); */
	text-decoration: underline;
	text-decoration-style: double;
}
body {
	background: var(--principalColor);
	font-family: 'Victor Mono', sans-serif;
	color: aliceblue;
	font-size: 17px;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 2em;
}

ul {
	padding: 0;
}
li {
	list-style: none;
}

nav a:visited {
	color: #fff;
}
a {
	text-decoration: none;
}

/* bg_dark */

h1 {
	border: 2px solid var(--principalColorAlpha);
	border-radius: 10px;
}
@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes unShow {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@media (max-width: 417px) {
	body {
		font-size: 14px;
	}
}
@media (max-width: 675px) {
	section > h1 {
		max-width: 450px;
	}
}
