.langSwitcher {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
}

.langSelect__control {
  border-radius: 10vw !important;
  backdrop-filter: blur(10px);
}

.langSelect__menu,
.langSelect__menu-list {
  border-radius: 10vw !important;
  backdrop-filter: blur(6px);
}

.countryLogoControl,
.countryLogoOption {
  width: 35px;
  height: 20px;
}
.countryLogoOption {
  margin-right: 8px;
}
.countryLogoControl {
  margin-left: 8px;
}
