.langSwitcher {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
}

.langSelect__control {
  border-radius: 30px !important;
  backdrop-filter: blur(6px);
  font-size: 1rem;
}

.langSelect__indicator {
  padding: 5px !important;
}

.langSelect__menu-list {
  backdrop-filter: blur(6px);
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: 20px;
}
.langSelect__menu {
  border-radius: 30px !important;
}
.countryLogoControl,
.countryLogoOption {
  width: 20px;
  height: 20px;
}
.countryLogoOption {
  margin-right: 8px;
}
.countryLogoControl {
  margin-left: 8px;
}
